/* .carousel-item {
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
} */


/* .contenedor-web {
    max-width: 1200px;
} */

.alinear {
    margin: 10px 15px;
    
}

